@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & display=swap');

body {
    font-family:'Poppins', Arial;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
header {
    background-color: #04ecd5;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.navbar {
    background-color: #04ecd5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #048cb3;
}

h1 {
    font-size: 36px;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#content p {
    max-width: 600px;
    text-align: justify;
    margin-bottom: 20px;
}
#content img {
    max-width: 100%;
    height: auto;
    margin: 30px 0;
}
span{
    color: blue;
    font-weight: 600;
}
footer {
    background-color: #04ecd5;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}